@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berlin Sans";
  src: url("/assets/fonts/BerlinSansFB-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berlin Sans";
  src: url("/assets/fonts/BerlinSansFB-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
